<h1>{{title}}</h1>
<h3>Enter user's info.</h3>
<form #userForm="ngForm" (ngSubmit)="addUser(name.value, age.value);" *ngIf="active" novalidate>
  <div ngModelGroup="User">
    <div>
      <label>Name</label>
      <input type="text" #name name="name" ngModel required>
    </div>
    <div>
      <label>Age</label>
      <input type="number" #age name="number" ngModel required>
    </div>
    <button [disabled]="!userForm.form.valid" type="submit">Add</button>
  </div>
</form>
<div *ngFor="let user of _exampleService.users; let i = index">
  <p>{{ user.name }} is {{ user.age }} years old.</p>
  <button (click)="deleteUser(i)">Delete</button>
</div><br />
